<h2>Create password</h2>

<%= form_for(resource, :as => resource_name, :url => update_user_confirmation_path, :html => { :method => 'put',  :class => "form login" }) do |f| %>
  
  <%= devise_error_messages! %>
  
  <%= hidden_field_tag :confirmation_token, @confirmation_token %>
  
  <div class="input-group">
    <span class="input-group-addon">P</span>
    <%= f.password_field :password, :class => "form-control", :placeholder =>'Password' %>
  </div>
  </br>
  
  <div class="input-group">
    <span class="input-group-addon">P</span>
    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder =>'Password Confirmation' %>
  </div>
  </br>
  
  <div class="input-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
  </br>
  
<% end %>

<%= render "devise/shared/links" %>