<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form" }) do |f| %>

  <%= devise_error_messages! %>
  
  <%= fields_for(:tenant) do |ff| %>
  <div class="input-group">
    <span class="input-group-addon">U</span>
    <%= ff.text_field :name, :class => "form-control", :placeholder =>'Organization' %>
  </div>
  </br>
  <% end %>
  
  <div class="input-group">
    <span class="input-group-addon">U</span>
    <%= f.text_field :email, :class => "form-control", :placeholder =>'Email Address' %>
  </div>
  </br>

  <div class="input-group">
    <span class="input-group-addon">P</span>
    <%= f.password_field :password, :class => "form-control", :placeholder =>'Password' %>
  </div>
  </br>

  <div class="input-group">
    <span class="input-group-addon">P</span>
    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder =>'Password confirmation' %>
  </div>
  </br>
  
  <% if ::Milia.use_coupon %>
<!--
- @coupon ||= {}
  = label_tag( 'coupon', 'Coupon code', :class => "label" )
  = text_field_tag( "coupon[coupon]", @coupon['coupon'].to_s, :size => 8, :class => "text_field" )
-->
  <% end %>

  <% if ::Milia.use_recaptcha %>
  <!--
  = recaptcha_tags( :display => { :theme => 'clean', :tabindex => 0 } )
  -->
  <% end %>
  
  <div class="input-group">
    <button class="btn btn-primary" type="submit">Sign up</button>
  </div>
<% end %>
</br>