<td class="col-sm-12 member">

  <span class="pull-right">
    <a href="/members/{{ id }}/edit">
      <span class="glyphicon glyphicon-ok-sign btn btn-info" data-toggle="tooltip" title="Edit Client Record"></span>
    </a>
    <a data-confirm="Are you sure?" data-method="delete" href="/members/{{ id }}" rel="nofollow">
      <span class="glyphicon glyphicon-remove-sign btn btn-danger" data-toggle="tooltip" title="Destroy Member Record"></span>
    </a>
  </span> 

  <div class="icon"></div>
  <div class="name">{{ full_name }}</div>
  <div class="email">{{ email }}</div>

</td>
