<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form login" }) do |f| %>

  <%= devise_error_messages! %>

  <div class="input-group">
    <span class="input-group-addon">U</span>
    <%= f.text_field :email, :class => "form-control", :placeholder =>'Email Address' %>
  </div>
  </br>

  <div class="input-group">
    <span class="input-group-addon">P</span>
    <%= f.password_field :password, :class => "form-control", :placeholder =>'Password' %>
  </div>
  </br>

  <% if devise_mapping.rememberable? %>
  <div class="input-group">
    <span class="input-group-addon">
      <%= f.check_box :remember_me %>
    </span>
    <%= f.label :remember_me, :class => "form-control" %>
  </div><!-- /input-group -->
  </br>
  <% end %>
  
  <div class="input-group">
    <button class="btn btn-primary" type="submit">Sign in</button>
  </div>
<% end %>
</br>