<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
      <%= link_to site_name, site_url, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        
        <% if user_signed_in? %>
          
          <li class="<%= 'active' if current_page?("/") %>">
            <% link_to( t("theme.settings", :default => "Settings"), '#' )%>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to( t("theme.profile", :default => "Profile"), edit_member_path(current_user) ) %>              
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to( t("theme.invite", :default => "Account Members"), members_path ) %>
              </li>
              <li>
                <%= link_to( t("theme.invite", :default => "Invite member"), new_member_path ) %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to( t("theme.logout", :default => "Sign out"), destroy_user_session_path, :method => :delete ) %>
              </li>
            </ul>
          </li>
          
        <% else %>

          <li class="<%= 'active' if current_page?( new_user_registration_path ) %>">
            <%= link_to( t("theme.signup", :default => "Sign up"), new_user_registration_path ) %>
          </li>
        
          <li class="<%= 'active' if current_page?( new_user_session_path ) %>">
            <%= link_to( t("theme.login", :default => "Sign in"), new_user_session_path ) %>
          </li>
        
        <% end %>
        

      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
