<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BaseApp - <%= @org_name %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <%= render 'layouts/flash' %>
    
    <div class="container">
      <%= yield %>
    </div>

    <div class="wat-cf" id="wrapper">
      
      <div id="main">
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>

  </body>
</html>