<% unless @member.errors.empty? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>
    <ul>
    <% @member.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  </br>
<% end %>

<div class="input-group">
  <span class="input-group-addon">U</span>
  <%= f.text_field :email, :class => "form-control", :placeholder =>'Email address' %>
</div>
</br>

<div class="input-group">
  <span class="input-group-addon">F</span>
  <%= f.text_field :first_name, :class => "form-control", :placeholder =>'First Name' %>
</div>
</br>

<div class="input-group">
  <span class="input-group-addon">L</span>
  <%= f.text_field :last_name, :class => "form-control", :placeholder =>'Last Name' %>
</div>
</br>

<div class="group wat-cf">
  <div class="right">
    <button class="btn btn-primary" type="submit">Create user and invite</button>
  </div>
</div>
