<h2>Modify your information</h2>

<%= form_for @member, :url => member_path(@member), html: { method: :put, class: 'form login' } do |f| %>
  <%= render partial: "form", locals: {f: f} %>
<% end %>
</br>