<div class="page-header clearfix">
  
  <%= link_to new_member_path do %>
  <button id="add-client-btn" 
    class="btn btn-success pull-right"
    data-toggle="tooltip"
    title="Add Member Record">
    <span class="glyphicon glyphicon-plus"></span>
    New member
  </button>
  <% end %>
  
  <h1><%= @org_name %> Members</h1>
  
</div>

<table id="members_table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col-sm-12"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
